.comingSoonHeading p {
  font-family: lato;
  font-size: 20px;
}
.comingSoonHeading p.heading {
  font-size: 40px;
  padding: 15px 0px;
  font-weight: bold;
}
.comingSoonHeading div.comingSoonLine {
  width: 52px;
  height: 2px;
  border: 1px solid white;
  background: white;
  margin: auto;
}
